{% extends "base.html" %}

{% block main %}
    <h1>My Expenses</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in expense_categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
